[2019-06-06 12:44] wol-soft opened #1 "Amylase level ups are executed too early"
While the Amylase extension is under construction the automated Level Up for a building is executed

[2019-06-07 07:42] sirtapps opened #2 "Service assistant discount limit to 6%?"
I have >750 Service Assistant but discount is still 6%.

[2019-06-07 09:21] wol-soft commented on #2
Hi @sirtapps,

the Service Assistant discount is capped at 10%. The speed it increases just slows doen after reaching a 5% discount. I've documented the behaviour in the wiki: [Service Assistant discount](https://wol-soft.de/apps/beerplop/wiki/index.php/Buildings#Upgrade:_Help_me_to_build_it_up)

Thanks for pointing out, it's nowhere apparent.

Cheers 🍺

[2019-06-07 09:21] #2 closed

[2019-06-11 18:36] wol-soft commented on #1
Issue fixed with version 1.39.0.
The control buttons for automated level up and building purchases were available before the corresponding item was completed.

Thanks to the unknown reporter of the issue.

[2019-06-11 18:36] #1 closed

[2019-06-11 18:48] papulla opened #3 "Stock market Autoplops springen bei Änderung"
Sowohl in der Maske zum Stock Market, wenn man die stocks schließen möchte oder wenn man holds kaufen möchte, springen die Buttons andauernd hoch und runter, bei Änderungen der Plops. Das ist sehr störend, wenn man die schnell kaufen bzw. verkaufen möchte.

[2019-06-11 18:49] papulla opened #4 "Base plates im Trading Post handeln"
ich möchte Base plates im Trading Post handeln können.

[2019-06-11 18:51] papulla opened #5 "Beer Banker und deren aktueller Zustand nicht ersichtlich"
Bei den Beer Bankern kann ich nicht sehen, welcher am Trainieren ist. Muss jeden einzelnen anklicken, was sehr nervig ist. Wäre schön, wenn man in der Übersicht sehen könnte, das einer Trainiert und wie lange noch.

[2019-06-12 09:52] KingKatzi opened #6 "Level Status, es wir eine kaputte Grafik angezeigt"
![2019-06-12 11_47_27-Beerplop](https://user-images.githubusercontent.com/39616284/59341614-7f822080-8d08-11e9-8c9e-030f614c8385.png)

[2019-06-12 10:14] wol-soft commented on #6
Caused by a CSS class collision. Will be fixed with 1.40.0

[2019-06-12 10:14] #6 closed

[2019-06-12 11:06] papulla opened #7 "Enchantings bei einem Building zurücksetzen"
Es soll möglich sein, das Enchanting bei einem Building zurück zu setzen.
Da kann man auch ruhig alle seine Mana's verlieren oder nur 50 % zurück erhalten.

[2019-06-12 11:09] papulla opened #8 "Beer Bar | Sticky Menü auf der rechten Seite"
Bei einem Level ab V wird die rechte Menübar für ein Item nicht mehr Sichtbar, wenn man eine ganz unten ausgewählt hat.
Hier wäre ein Sticky Menü cool.

[2019-06-12 11:13] papulla opened #9 "Bottle Cap Factory Level wird extrem unerreichbarer ab Level XXVI"
Durch die Eingrenzung, dass das Leveln für jede weitere Stufe mit einem Faktor 100 erhöht wird, dauert das erreichen eines neuen Level ab XXVI mehrere Tage.
Uns somit dauert das erreichen der neuen Levels für die Buildings auch dementsprechend.
Wie wäre es, wenn ab Level XXV der Faktor der Erhöhung nur noch Faktor 10 hat?

[2019-06-12 11:17] papulla opened #10 "Beer Blender Bar | Auswahl entfernen der ingredients optimieren"
Wenn ich die Items auswählen/entfernen will, muss ich diese Umständlich hinein/heraus schieben.
Das führt manchmal dazu, das die Items nicht richtig rein bzw. rausgeschoben werden.
Sehr ärgerlich, wenn es mal schnell gehen muss.
Mein Vorschlag:
- Item entfernen/hinzufügen mit rechten Mausklick oder Doppelklick
- ein Item kann nur hinzugefügt werden, wenn noch ein Slot frei ist

[2019-06-12 11:20] papulla opened #11 "Der Slider in der Beer Bank und Research Project reagiert beim bewegen nicht"
Der Slider in der Beer Bank und Research Project reagiert beim bewegen nicht.
Wenn ich über den Touchbildschirm den Slider setzen möchte, kann ich ihn nur per direkt Klick auf einen Wert setzen. Das macht es fast unmöglich den Slider auf 0% bzw. 100% zu bekommen.
Es wäre Klasse wenn dieser durch festhalten sich auch bewegen ließe.

[2019-06-12 11:22] papulla opened #12 "Slider sollen aufeinander reagieren"
Wenn ich einen Slider erhöhe, soll er automatisch bei einem anderen den Wert runter setzen.

[2019-06-12 11:26] wol-soft commented on #8
@papulla kannst du einen Screenshot hinzufügen? Verstehe die Beschreibung nicht so ganz

[2019-06-12 11:33] wol-soft commented on #12
Die Frage ist, wie er entscheiden soll, bei welchem Slider er den Wert runtersetzt. Es können ja (theoretisch) bis zu zehn Slider gleichzeitig aktiv sein, wenn man entsprechend viele Projects am Laufen hat und alle Slider auf 10% einstellt.

[2019-06-12 13:28] wol-soft opened #13 "Auto Training for Beer Bank Banker"
Provide a mechanism to automatically train Beer Bank Banker

[2019-06-12 13:30] wol-soft opened #14 "Beer Bank Banker balancing"
The Beer Bank Bankers generate an irrelevant profit so they are rather useless and only useful to reach the corresponding achievements.

Re-balance the Beer Bank Bankers to generate a relevant profit.

[2019-06-12 18:51] wol-soft commented on #3
Changed the layout of the fast overview to a fixed table row height:

![image](https://user-images.githubusercontent.com/14750468/59377107-d3fdbe00-8d51-11e9-8860-9375dc78ca90.png)

Changed the layout of the purchase overview for large numbers and a non-breaking layout.

Will be released with version 1.40.0

[2019-06-12 18:51] #3 closed

[2019-06-12 18:52] wol-soft commented on #10
Implemented double click to equip/unequip Beer Blender Bar ingredients with version 1.40.0

[2019-06-12 18:52] #10 closed

[2019-06-13 13:24] papulla commented on #12
Hauptsächlich geht es um das zusammenspiel zwischen der Beer Bank und den Researches.
Würde sagen, dass die Beer Bank die Researches verringert und umgekehrt.
Meist hat man nur einen Research. Also nur ein Research und Beer Bank.

[2019-06-13 13:24] papulla commented on #8
![image](https://user-images.githubusercontent.com/51719679/59436181-63a57a00-8def-11e9-8886-453f0e9504ed.png)

[2019-06-13 13:26] papulla commented on #8
Muss nun für upgrades extra hochscrollen, voll nervig wenn man mehrere items kauft und upgraden möchte

[2019-06-13 13:30] wol-soft commented on #8
ah ok, so ein scrollen. Problem verstanden!

[2019-06-14 07:04] KingKatzi opened #15 "Neue Upgrade Paths für Beer Factories"

[2019-06-14 08:01] wol-soft commented on #15
@KingKatzi gibt es Pfade, die deiner Meinung nach besonders wichtig wären?

[2019-06-14 10:09] sirtapps opened #16 "Clonedike: Unterschied in der Beschreibung"
Im Hover bei der Forschung steht "Beer Cloner are 20% stronger" und im Hover bei einem Gebäude steht "Boosted by 15%".

[2019-06-14 10:18] wol-soft commented on #16
Der korrekte Wert ist 15%, habe es von 20% runtergesetzt und die Labels nicht angepasst. Korrigiere ich mit der kommenden Version.
Danke für den aufmerksamen Hinweis!

[2019-06-14 10:22] KingKatzi commented on #15
Z.B. Lumberjack, Transport System, Precious Mine und sowas wie die Engineers wäre auch cool :)

[2019-06-14 11:38] Jared87 commented on #15
Senken des Verbrauchs von Extensions

[2019-06-14 11:40] Jared87 commented on #13
Ich denke hier könnte die GUI der Beerwarts übernommen werden.

[2019-06-14 11:41] Jared87 commented on #12
Ich würde sobald die Gesamtsumme der Slider >100 ist die % anhand der Basis der Summe berechnen. Wenn 2 auf 100 sind, bekommen beide 50

[2019-06-14 11:59] Jared87 commented on #12
Mal ein wenig ausführlicher:

Ein Slider ist aktiv bei 100%. => 100% der Plops laufen hier rein.
Wird nun ein 2. Slider auf 25% gesetzt wird nicht mehr 100 als Basis genommen sondern 125. Es laufen nun 80% in den ersten und 20% in den 2. Slider.

So lange die Summe < 100 ist, ist 100 die Basis und der Rest läuft in die Plops.

2 Slider sind bei 25%, beide bekommen 25% und 50% laufen in die Plops.

[2019-06-14 12:03] KingKatzi opened #17 "Undu/ Cancel Button für das Training für Magier"
Damit soll man das Magier Training abbrechen

[2019-06-14 18:03] wol-soft commented on #7
@papulla welchen Zweck soll das Zurücksetzen erfüllen? Denkst du da an einen Sacrify-Mechanismus, der im Anschluss zB. die Enchantments etwas teurer macht (da man sich ja eh recht schnell wieder in ähnliche Anzahlen an Enchantments begeben kann wie man zuvor hatte durch die Preissteigerung) und dafür die Enchantments stärker macht?

Oder einfach nur für eine Neuverteilung?

Wobei ich so beim drübe

[2019-06-15 14:33] wol-soft opened #18 "Don't store templates in DOM"
To decrease the size of the DOM and thus to increase the browser performance remove client side templates from the DOM. Instead save them to the LocalStorage and write a TemplateLoader.

Bonus Effect: Templates can be loaded with a separate requests and must be refreshed only if a new version is available.

[2019-06-15 19:34] wol-soft commented on #17
Implemented cancellation of magician trainings in 1.41.0.

If a training is cancelled the magicians can't start a new training for seven days afterwards as cooldown time.

[2019-06-15 19:34] #17 closed

[2019-06-15 19:34] #16 closed

[2019-06-15 19:36] wol-soft commented on #15
Gibt immerhin mit 1.41.0 schon mal wieder zwei neue Upgrades für die Academy.

Generell vermutlich ein schwieriger Issue, wann kann man den schließen? Man kann ja immer weiter neue Upgrades hinzufügen.

[2019-06-16 17:47] papulla opened #19 "Manche Achievements nicht erhalten, obwohl schon fertig"
Achievement Giza Completed und 50 Magier trainiert steht auf not reached.
Beides habe ich eigentlich schon erreicht, aber nicht das Achievement erhalten.
Ich schätze mal, die Giza habe ich noch ncht erhalten, da ich mit der schon fertig war, bevor das Achievement vorhanden war.
Habe das 50 Magier erhalten, als ich einen neuen gekauft und der zum Auto-Training geschickt wurde.

[2019-06-16 17:47] papulla commented on #19
![image](https://user-images.githubusercontent.com/51719679/59567558-8cd43d80-906f-11e9-911d-18bd9bdb5df3.png)

[2019-06-16 17:49] papulla commented on #19
![image](https://user-images.githubusercontent.com/51719679/59567576-dde43180-906f-11e9-8945-463eb2d9b5a8.png)

[2019-06-16 19:13] wol-soft commented on #19
@papulla zum giza habe ich mit 1.36.0 nen Fix gebaut, vielleicht hattest du das schon worher. Ich checke das noch mal. Werde nen Update-Check einbauen, der es freischaltet, wenn man den Unique Build abgeschlossen hat.

Das für 50 Magicians ist relativ neu, du hast seitdem vermutlich keinen neuen Magier gekauft, um den Check anzutriggern.

[2019-06-17 09:15] papulla opened #20 "Research Projects durch Klicken pushen"
Schön wäre es, wenn man die jeweiligen Research Projects durch Klicken auf deren Symbol pushen könnte analog zu den Beer Plops.

[2019-06-18 12:44] wol-soft commented on #12
@papulla @Jared87

Ich denke das Verhalten wäre dann trotzdem ziemlich strange für den Benutzer.

Man hat zB. ein research Project auf 50% und die Beer Bank auf 50%. Nun ändert man den Slider an der Beer Bank auf 100%, dann greift die Berechnung mit der Basis 150, dann bekommt (weil es ja auf 10er Schritte festgelegt ist und dementsprechend gerundet werden muss) das Research Project 30% und die Ba

[2019-06-18 16:59] papulla commented on #12
Ne, sollen auch nur beim hochmarkieren bei den anderen runter gehen.
Also wenn ich in der Beer Bank höher mache, soll er bei den researches runter gehen, wenn dort was gesetzt ist und umgekehrt, wenn ich bei einem Research hoch mache, dann soll er bei Beer Bank runter gehen.
Nichts rauf, nur runter im zusammenspiel zwischen research und beer bank. Mehr nicht.

[2019-06-18 17:01] papulla commented on #7
Ich dachte eher tatsächlich auf komplett zurücksetzen, um die Werte neu zu verteilen, da man ggf. andere Attribute neu setzen möchte wegen der Verteuerung.

[2019-06-24 12:14] papulla opened #21 "Neue Academy Upgrades"
Upgrades in mehreren Stufen, um die Produktion und Lagermenge von

- Marble
- Tools
- Charcoal
- Medallions

zu erhöhen.

[2019-06-24 13:49] wol-soft opened #22 "Upgrade FontAwesome to version 5"
https://fontawesome.com/how-to-use/on-the-web/setup/upgrading-from-version-4

[2019-06-24 13:51] wol-soft commented on #21
Duplicate of #15

[2019-06-24 16:27] wol-soft commented on #20
Da es sich bei den Research Projects um passive Spielelemente handelt, die nicht aktiv bespielt werden, sehe ich dieses Feature als nicht zielführend an.

[2019-06-25 12:43] wol-soft commented on #19
@papulla, 1.43.0 ist releast. Du solltest das giza-Achievement erhalten haben. Wenn ja, Issue bitte schließen.

[2019-06-25 17:43] wol-soft commented on #15
Mit Version 1.44.0 wurden insgesamt 30 neue Upgrade-Pfade hinzugefügt.

[2019-06-25 17:43] #15 closed

[2019-06-25 17:44] wol-soft commented on #21
Mit Version 1.44.0 wurden insgesamt 30 neue Upgrade-Pfade hinzugefügt. Darin sind Storage-Erweiterungen und auch Upgrades um die Extension-Produktion zu erhöhen enthalten.

[2019-06-25 17:44] #21 closed

[2019-06-25 19:17] papulla commented on #19
![image](https://user-images.githubusercontent.com/51719679/60126600-a7549800-978e-11e9-9a28-fc71994e1f9a.png)

[2019-06-25 19:17] papulla commented on #19
Leider nicht

[2019-06-25 19:38] wol-soft commented on #19
@papulla was kommt dabei raus, wenn du in der Konsole

[code]
und
[code]
ausführst?

[2019-06-25 20:54] papulla commented on #19
(new Minigames.BeerFactory()).uniqueBuild.state.builds.giza.buildFinished;
Wed May 01 2019 21:47:35 GMT+0200 (Mitteleuropäische Sommerzeit)

(new Beerplop.AchievementController()).getAchievementStorage().achievements.beerFactory.uniqueBuild.completed.giza;
[
key: "beerFactory.uniqueBuild.completed.giza"
reached: false
}

[2019-06-27 11:58] #19 closed

[2019-06-27 11:59] papulla commented on #19
Hab das checkAchievement dazu selber ausgeführt.

[2019-06-28 13:34] sirtapps opened #23 "Negative Produktion"
![grafik](https://user-images.githubusercontent.com/21241313/60345785-0d713300-99ba-11e9-89b1-0899a22d856d.png)

Nach dem Update für die Verdopplung der Tool-Produktion bekomme ich manchmal negative Lagerwerte.

[2019-06-28 17:57] wol-soft commented on #23
Danke für den Report. Die Logik des Upgrades sollte so ausgelegt sein, dass die Produktion der Extensions verdoppelt wird (was sie auch aktuell wird), allerdings der Verbrauch nicht erhöht wird (was auch aus der Consumes/Produces Tabelle hervorgeht). Ich habe den Materialcheck auch entsprechend entwickelt, dass für "einfachen" Materialverbrauch bei doppelter Produktion gecheckt wird und sich darau

[2019-06-28 20:17] wol-soft commented on #23
1.45.0 ist releast

[2019-06-28 20:17] #23 closed

[2019-06-28 20:17] wol-soft commented on #7
1.45.0 ist releast mit der Möglichkeit, die Enchantments an einem Building zu sacrificen.

[2019-06-28 20:17] #7 closed

[2019-06-29 06:48] sirtapps commented on #23
Ich habe noch ein weiteres Problem mit negativem Material. :|
![grafik](https://user-images.githubusercontent.com/21241313/60380709-32ad8200-9a4a-11e9-9914-76dcd93555d6.png)

Die Extension sollte fertig gebaut sein. Der negative Wert verringer sich, Richtung Null, entsprechend meiner Tool-Produktion.

[2019-07-01 08:35] sirtapps opened #24 "Negativer Warenbestand bei Gebäuden"
Ich habe noch ein weiteres Problem mit negativem Material.
![grafik](https://user-images.githubusercontent.com/21241313/60422230-da15ea80-9beb-11e9-8a4f-fb6574bdadeb.png)

Die Extension sollte fertig gebaut sein. Der negative Wert verringert sich, Richtung Null, entsprechend meiner Tool-Produktion.

[2019-07-01 20:00] wol-soft commented on #24
Ist der Negative Wert aufgetreten, nachdem die 4,7 Million Tools erreicht wurden? Pausiere die Tool-Zulieferung am besten, bis ich den Bug gefixt habe, um keine weiteren Tools zu verlieren.

[2019-07-01 20:35] 2ndK16 opened #25 "Enchantments können mit schnellem Doppelklick zweimal ge-sacrifice-t werden"
Wenn ich in der Enchantment-Übersicht sehr schnell mehrmals auf "Sacrifice" klicke und dasselbe beim Confirm-Dialog wiederhole, kann es passieren, dass zwei Sacrifices zum Preis von einem durchgeführt werden.

[2019-07-01 20:36] 2ndK16 opened #26 "Buff Bottle für Factories"
Vorschlag: eine Buff Bottle, die die Beer Factories boostet.

[2019-07-01 20:37] 2ndK16 opened #27 "Achievements: Beer Factory Production per second"
Vorschlag: Neue Achievements für die Beer-Factory-Produktion pro Sekunde (z.B. 10 Wood pro Sekunde, 100 Wood pro Sekunde usw., so wie für die Auto-Plops pro Sekunde)

[2019-07-02 07:28] sirtapps commented on #24
Ja, der Wert ist aufgetreten, nachdem die 4.7 Mio Tools erreicht wurden.

[2019-07-02 08:20] KingKatzi opened #28 "Buff Bottle for Magicans"

[2019-07-02 08:21] KingKatzi commented on #28
Vorschlag: eine Buff Bottle, die die Magier boostet.

[2019-07-02 13:08] KingKatzi commented on #28
Also noch mehr, als die normale Mana Boost Bottle

[2019-07-02 13:48] wol-soft commented on #28
Inwiefern noch mehr?

[2019-07-02 17:00] 2ndK16 commented on #28
Idee: Training läuft für eine kurze Zeit doppelt oder zehnmal oder x-mal so schnell

[2019-07-03 12:55] wol-soft commented on #28
Eine etwas verständlichere Berechnung als "Die Zeit verläuft schneller" wäre es vielleicht zu sagen: Verbleibende Trainingszeiten um 10%, 15% oä. gekürzt.

Noch eine alternative Buff-Bottle könnte einem direkt Mana geben. Da weiß ich aber nicht, ob das so cool ist.

[2019-07-03 12:56] KingKatzi commented on #28
Mana Chain :D Ne, ich bin Anti Mana Chain

[2019-07-05 07:32] Marcnesium87 commented on #13
Wol-soft? Wie ist deine Meinung hierzu?

[2019-07-05 07:55] wol-soft commented on #13
Grundlegend wird es so aufgebaut sein wie bei den Magicians. Generell sind die Trainings ja vergleichbare Mechanismen.

[2019-07-05 10:52] Marcnesium87 commented on #12
Alternativ: Checkbox die das Verschieben der Slider über den Verfügbaren Rest % erlaubt. Alle offenen Slider werden dann auf 0% gesetzt, egal um wieviel der gerade aktive Slider verändert wird.
Beispiel:
Research1: 20%
Research2: 40%
Research3: 20%

Ich kann jetzt 20% in die Beerbank geben, bei deaktivierter Checkbox "Allow Overfading" ist bei 20% Schluss. Bei aktivierter Checkbox, kann ich den Sl

[2019-07-05 13:43] wol-soft commented on #12
Gefällt mir persönlich auch deutlich besser, da die Mechanik verständlicher ist. Wenn man einen Slider hochstellt werden die anderen Slider runtergestellt. Meistens wird man den entsprechenden Slider dann ja eh auf 100% stellen wollen.

Irgendwelche wilden Berechnungen im Hintergrund machen es meiner Meinung nach nur komplizierter für den Spieler (und wahrscheinlich auch Fehleranfälliger)

[2019-07-06 12:25] wol-soft commented on #25
Ich disable das Sacrificen jetzt nach dem ersten Durchlauf, ein zweites Sacrifice wird dementsprechend nicht durchlaufen.

[2019-07-06 12:25] #25 closed

[2019-07-06 12:28] wol-soft commented on #24
@sirtapps In der gerade releasten Version 1.46.0 habe ich weitere Checks eingebaut, die einen negativen Fortschritt verhindern. Zusätzlich wird beim Laden der neuen Version einmal geprüft, ob ein negativer Fortschritt vorhanden ist, wenn ja wird dieser korrigiert.

Wenn es korrigiert wurde, kann der Issue geschlossen werden.

[2019-07-09 18:57] wol-soft commented on #28
1.47.0 enthält eine neue Buff Bottle, die die Trainings verkürzt.

[2019-07-09 18:57] #28 closed

[2019-07-09 18:58] wol-soft commented on #26
1.47.0 enthält eine neue Buff Bottle, die die Beer Factory Produktion boostet vergleichbar mit Assembly Lines.

[2019-07-09 18:58] #26 closed

[2019-07-09 22:07] stefros1l commented on #26
na toll wollte das gleiche Feature gerade vorschlagen :D

[2019-07-10 07:51] KingKatzi opened #29 "Notifications der Magier überlagern alles"
Wenn ganz viele Notifications zu den Magiern angezeigt werden, überlagern die alle anderen Elemente, sogar die Buff Bottles, das ist etwas unpraktisch, wenn dann gerade eine Buff Bottle kommt, die man nicht klicken kann

[2019-07-10 09:59] stefros1l opened #30 "Hardcore Textbug in Release Notes"
![grafik](https://user-images.githubusercontent.com/52722249/60960352-20fd9180-a30a-11e9-821c-5b37f2d8f797.png)

[2019-07-10 11:37] wol-soft opened #31 "Wrong auto-close value at Stock Market"
![photo_2019-06-30_14-53-12](https://user-images.githubusercontent.com/14750468/60966092-bfdcba80-a317-11e9-86fe-c727158c75f7.jpg)

[2019-07-12 06:54] sirtapps commented on #24
Eine Sache habe ich noch manchmal. Ich weiß aber nicht, wann sie auftritt. Das kann alle Rohstoffe betreffen.

![grafik](https://user-images.githubusercontent.com/21241313/61108409-85dbf780-a482-11e9-9638-8fd378593c43.png)

Tut mir leid, dass ich immer nerve ;)

[2019-07-13 10:18] wol-soft opened #32 "Anzahl Gelagerte Materialien > Kapazität"
Eine Sache habe ich noch manchmal. Ich weiß aber nicht, wann sie auftritt. Das kann alle Rohstoffe betreffen.

Edit: Es tritt auf, nachdem die neue "Bottle - Beer Boost Factory" ausgelöst worden ist. Bei den Rohstoffen, welche nicht verbraucht werden, wird der Lagerbestand nicht am Ende der Flasche nicht zurückgesetzt. (glaub ich)

![grafik](https://user-images.githubusercontent.com/21241313/61108

[2019-07-13 10:21] wol-soft commented on #24
Moin @sirtapps

Das ist ja kein nerven, das ist wichtiges Feedback. Bei dem Feature-Umfang ist es schwierig, alles selbst zu sehen, von daher: ruhig immer weiter issues öffnen.

Aus dem "Mehr Materialien im Lager als Kapazität" habe ich einen neuen Issue gemacht.

Diesen Issue schließe ich dann jetzt, der Bug ist ja behoben.

Danke noch mal für die Issues. Wie gesagt: Das ist wichtiges Feedback.

[2019-07-13 10:21] #24 closed

[2019-07-14 12:53] 2ndK16 opened #33 "[Beer Factories] Suggestion: Collapsible Build Queue Entries"
Rearranging Build Queue jobs via drag'n'drop can be quite a chore because of the slow scrolling. This would be easier if the jobs were collapsible, displaying only the title, progress and buttons but not materials and runtime.

[2019-07-14 19:38] wol-soft commented on #31
Fixed in 1.48.0

[2019-07-14 19:38] #31 closed

[2019-07-14 19:39] wol-soft commented on #32
Fixed in 1.48.0

[2019-07-14 19:39] #32 closed

[2019-07-15 10:45] wol-soft commented on #29
Da die Magier generell (gerade im Vergleich zu sonstigen Features) sehr viele Notifications erzeugen, wäre noch eine Idee, die Nachrichten zu gruppieren, wenn mehrere parallel auftreten um es so etwas zu entspannen. In etwa sowas wie:

[2019-07-15 14:08] sirtapps opened #34 "Lagerkapazität überschritten & Lagermenge passt nicht"
![grafik](https://user-images.githubusercontent.com/21241313/61221984-049e9200-a71a-11e9-847c-a6fc2a2b42d1.png)

Ich habe das Update 1.48.1 am laufen. Der Screenshot entstand, nachdem die Bottle abgelaufen ist.

Dabei fiel mir auch auf, dass die Gesamtlagermenge nicht der Summe entspricht. (70 Mio + 300 Mio + 600 Mio +300 Mio + 400 Mio +3*220 Mio ~ 2.5 Mrd. / Billion, aber nicht 5 Mrd.

[2019-07-15 19:05] wol-soft commented on #22
Updated

[2019-07-15 19:05] #22 closed

[2019-07-18 07:17] KingKatzi opened #35 "Der 'Upgrade' Button ausgrauen, wenn nicht genug Beers"
Der 'Upgrade' Button bei der Bar könnte ausgegraut/ inaktiv sein, wenn man nicht genug Beers hat, um eine Bar/ Pipeline etc. zu upgraden

[2019-07-18 07:18] KingKatzi opened #36 "Mechanismus, um mehrere Items auf einmal zu upgraden"
Vielelicht könnte man einen Mechanismus einbauen, damit man mehrere Items (Pipelines, Bars etc.) auf einmal auf ein neues Level upgraden kann, so ist es sehr mühsam jedes Item einzeln anzuklicken und hochzuleveln

[2019-07-18 07:53] Jared87 commented on #36
Gibt es doch, nennt sich "Amylase".

[2019-07-18 07:58] wol-soft commented on #36
Ich denke mal, dass Kathi die Items im "Automated-Bars" Minigame meint und nicht die "normalen" Gebäude.

[2019-07-18 08:01] wol-soft commented on #36
Ne Idee, wie man das clever implementieren könnte?

[2019-07-18 18:39] wol-soft commented on #34
Hi @sirtapps,

den Fix, den ich für die Werte im Lager gemacht habe, habe ich irgendwie wieder rausgeschmissen oder nicht zu Ende gebaut, keine Ahnung. Jetzt wird auf jeden Fall einmal, nachdem die Buff Bottle abgelaufen ist, geprüft, ob sich zu viele Materialien im Lager befinden. Wenn dem so ist, werden die überschüssigen Materialien verworfen.

Auch die Gesamtanzahl wird nun aus den Materialien

[2019-07-18 18:39] #34 closed

[2019-07-18 18:40] wol-soft commented on #35
1.50.0 wurde gerade releast mit dem Ausgrauen des Buttons äquivalent zu den anderen Level-Up Buttons.

[2019-07-18 18:40] #35 closed

[2019-07-20 16:05] wol-soft commented on #11
@papulla Ich kann das Verhalten nicht reproduzieren. Bei mir lassen sich die Slider sowohl per "Klick" auf eine Stelle als auch durch "Ziehen" über den Screen bewegen.

Mit welchem Gerät versuchst du es?

[2019-07-20 16:53] wol-soft commented on #33
Released with version 1.51.0. Joby are collapsible by clicking the title of the job (also added an indicating icon)

[2019-07-20 16:53] #33 closed

[2019-07-20 16:54] wol-soft commented on #30
Changelog is now HTML

[2019-07-20 16:54] #30 closed

[2019-07-20 16:55] wol-soft commented on #12
Option zum Einschalten der Slider-Interaktion mit 1.51.0 releast. Default ist weiterhin, dass man nicht höher als Summe aller Slider = 100% einstellen kann.

[2019-07-20 16:55] #12 closed

[2019-07-20 16:55] wol-soft commented on #8
Scrollen der Bereiche mit 1.51.0 entkoppelt

[2019-07-20 16:55] #8 closed

[2019-07-20 17:17] papulla commented on #11
Mit meinem XPS, wenn ich am Monitor rumbewege ;)

[2019-07-21 07:36] Marcnesium87 commented on #36
1. Hot Key Like "U" so you can Press the Keyboard and click trought the Items.
2. Holy Upgrade for Buttons. Wach Item hast ist own Button. Click on it will Automatic Upgrade every affordable Item of the choose Type.
3. Holy Upgrade for Automatic Upgrade without need for Buttons

[2019-07-21 07:38] Marcnesium87 commented on #14
Do you know in which Version you implement Something new?

[2019-07-21 08:48] Marcnesium87 commented on #4
Wäre aus meiner Sicht zu mächtig, da im späteren Spielverlauf die Slots billiger und die Handelsrouten mehr Waren handeln. Ein Balancing wäre aus meiner Sicht unmöglich. Die Handelsratio wäre entweder marginal im Vergleich zur Produktion der Baceplates oder OP.

[2019-07-21 11:19] wol-soft commented on #4
Es könnte im sehr späten Spiel interessant werden, da es ein technisches Limit von 0,5 Base Plates / Base Plate Produktionsstätte gibt. Heißt also, selbst wenn man die Proxy-Extensions voll auf Base-Plate-Produktion einstellt (was dann vermutlich an mangelnder Materialproduktion an Marble und/oder Tools scheitern würde), ist man beschränkt. In Kombination mit den stark steigenden Preisen für Slots

[2019-07-21 11:21] wol-soft commented on #14
Currently not. There are several issues with the Beer Bank Banker. They require a complete rework of this "minigame inside the Beer Bank minigame" with a migration for the current Bankers.

[2019-07-21 11:27] wol-soft commented on #36
I like the idea of a possibility to activate the auto-upgrade for each item. Similar to the Amylase slot equipment for the main game buildings. It could be an upgrade which has to be unlocked for a (rather low) amount of beers on each item.

In my opinion it must unlock early in the Automated Bar minigame as the later stages of the minigame don't provide that fast progress and consequently not tha

[2019-07-21 14:19] wol-soft commented on #29
Zum Thema "Elemente daneben nicht klickbar" s. https://github.com/FezVrasta/snackbarjs/pull/58

Ich habe das provisorisch als Library-Adjustment schon mal in Beerplop aufgenommen.

An der Gruppierung arbeite ich auch.

[2019-07-21 14:42] wol-soft opened #37 "Prevent breaking the game when reaching Number.MAX_VALUE"
Docs:

http://kangax.github.io/compat-table/esnext/#test-BigInt
https://github.com/tc39/proposal-bigint

TODO:
- which areas have to provide larger numbers than Number.MAX_VALUE?
- New NumberFormatter implementation supporting BigInt formatting
- Impact on SaveStates (on client and server)?

[2019-07-21 15:50] wol-soft commented on #29
1.52.0 releast mit den Anpassungen, dass benachbarte Elemente klickbar sind sowie der Gruppierung gleicher Magier-Notifications.

Bei der Gruppierung gilt: Es werden die Notifications gruppiert (jeweils aufgeteilt nach Trainings gestartet und Trainings beendet), die in einer Iteration auftreten. Wenn also in mehreren Iterationen nacheinander Notifications ausgegeben werden, weil sich an den Traini

[2019-07-21 15:50] #29 closed

[2019-07-22 11:37] Marcnesium87 opened #38 "Building Slots for Bottle Cap Factorys"
What about the Idea, that we can construct Slots for Upgrades. Would like to have Amalyse, Enzyme and maybe Fermentation on Cap Factory. We can have an Idle System on our Factorys but not on Bottle Caps.

[2019-07-22 11:41] Marcnesium87 opened #39 "Autobuy on Upgrades"
What about an Holy Upgrade or Unique Building (e.g Gize) that gives us an late Game option to automate Upgrades. Something intelligent, Maybe upgradeable to more inteligent. Something like first it is, "buy when affordable" and later with upgrades to buy only when Upgrade cost are 50%,40%,30%,20%10% of all Plops.

[2019-07-22 11:47] Marcnesium87 opened #40 "Autocloning"
Do you Guys know the Unique Building "The Clonewars Cloner"? With this Unique Building you unlock the Ability to set the Cloning Area to automation. Now the Cloning ist activated on an random Factory when the needed Building Amount is reacht and the Cloning Cooldown is Zero. Cool Cloning huh?
"This is not Implementet in the Game and just an Suggestion"

[2019-07-22 14:39] wol-soft commented on #38
I thought this feature request would come up earlier. Have thought about it a few weeks ago and also think it should be possible with a reduced set of equippable items.

[2019-07-22 14:42] wol-soft commented on #39
This relates to the upgrades of the main game?

[2019-07-22 15:45] Marcnesium87 commented on #39
Yes it does

[2019-07-23 09:04] Jared87 opened #41 "Option zum deaktivieren der Zahlenumrechnung"
Ich hätte gerne eine Option welche die Möglichkeit bieten den Numberformatter zu deaktivieren.

[2019-07-25 00:56] SquaredGrunt opened #42 "Beer Factory upgrades"
It would be nice if we could see the beer factories upgrades already built.

[2019-07-25 10:30] wol-soft commented on #42
@SquaredGrunt you mean instead of the label **Upgrade path locked** which is currently displayed if an upgrade is under construction in the build queue?

[2019-07-25 15:07] wol-soft commented on #37
Requires a library as the BigInt implementation is

- not well supported
- provides no exponential calculations

[2019-07-25 20:47] wol-soft opened #43 "Filter out completed materials in Build Queue item configuration modal"
The modal to configure the material priority and the activeness of single materials should contain only materials which aren't completed yet.

If a material is finished while a modal is opened the material should be removed from the modal.

[2019-07-26 02:13] SquaredGrunt commented on #42
Yes it could be there. One upgrade per line, with a tooltip describing each upgrade ?

[2019-07-26 08:19] wol-soft commented on #42
Ok, now i got the issue.

[2019-07-26 13:41] wol-soft commented on #9
@papulla Also ich bin jetzt bei Level LXXII (72) und finde die Preise nach wie vor angemessen.

[2019-07-26 14:48] papulla commented on #9
@wol-soft was hast du bei deiner Pyramids of Giza gewählt?
Bestimmt Bottle Caps oder?

[2019-07-26 15:59] wol-soft commented on #9
@papulla Si, clever taktiert ;)

[2019-07-26 17:52] wol-soft commented on #41
Es besteht jetzt eine Option, scientific notation zu aktivieren und somit die benamte Darstellung zu unterbinden (gilt für Zahlen >= 1000).

[2019-07-26 17:52] #41 closed

[2019-07-26 17:53] wol-soft commented on #43
Implemented in 1.53.0

[2019-07-26 17:53] #43 closed

[2019-07-31 17:37] wol-soft opened #44 "Automated Bar | Show upgrades"
Show the upgrades which are purchased/missing in the Autpmated Bar minigame similar to the upgrades of the main game.

[2019-07-31 17:53] wol-soft commented on #20
Not implemented

[2019-07-31 17:53] #20 closed

[2019-07-31 18:28] wol-soft commented on #42
Implemented with 1.55.0

[2019-07-31 18:28] #42 closed

[2019-07-31 21:01] wol-soft opened #45 "Beerwarts, Beer Bank Banker | Errors when using double quotes in custom name"
If using a double quote in custom names the part after the first double quote will be removed if editing the name again.

If naming a Beer Bank Banker with a double quote and opening the modal for the Beer Bank Banker's training session afterwards, this results in an undefined label:

![image](https://user-images.githubusercontent.com/14750468/62247843-fec9d180-b3e6-11e9-8e87-5944e3024ea7.png)

[2019-07-31 21:22] SquaredGrunt commented on #42
And it's great !

[2019-07-31 22:56] wol-soft commented on #42
@SquaredGrunt thanks!

[2019-08-01 19:33] 2ndK16 commented on #45
What if I call a banker [Robert"); DROP TABLE STUDENTS; --](https://www.xkcd.com/327/)?

[2019-08-01 19:38] 2ndK16 opened #46 "Beer Factories –New building type "The Back Room""
The best deals are made in shady back rooms. Players can build back rooms where even shadier lobbyists negotiate subventions for certain industries with the government.
The idea: you build back rooms and can select one (or maybe, after an upgrade, multiple) material(s), the production of which is then government-subsidied, i.e. gets boosted. Maybe, if you have n back rooms, the multiplier could be

[2019-08-01 19:45] wol-soft commented on #45
@2ndK16 nothing. The value just isn't handled properly during HTML templating.

[2019-08-01 19:45] wol-soft commented on #45
Named trading routes are also affected

[2019-08-01 19:50] wol-soft commented on #45
Fixed

[2019-08-01 19:50] #45 closed

[2019-08-01 20:36] wol-soft commented on #46
So it's more a supporting factory, not a producing factory, similar to the workers lodge if I understand it right.

Maybe it could be something like: each constructed back room boosts by 1% (possible an upgradable value?). One upgrade path provides the selection which producing factory is boosted (can be selected after each upgrade of the path is completed).

As an example: 5 constructed back room

[2019-08-06 14:16] wol-soft commented on #11
@papulla kann ich reproduzieren. Bei mir fängt er das als Browsergeste ab, um vor/zurück zu navigieren. Keine Ahnung, ob man das irgendwie unterbinden kann.

In der Slider-Library haben sie Anfang des Jahres einiges für mobile sliding gemacht: https://github.com/seiyria/bootstrap-slider/pull/899

Ich befinde mich auf der aktuellsten Version.

[2019-08-06 14:22] wol-soft commented on #37
Another approach to avoid breaking the game with large numbers could be catching all numbers which might rise up to Numer.MAX_VALUE. Collection of the numbers:

- [ ] Auto-Plops
- [ ] Owned Plops
- [ ] Production per building
- [ ] Bottle Caps per second
- [ ] Owned Bottle Caps
- [ ] Mana per second
- [ ] Mana per second for each magician
- [ ] Owned Mana
- [ ] Owned Beermats
- [ ] Reached level
-

[2019-08-06 15:39] 2ndK16 commented on #46
It's more similar to the trading routes: you can unlock a certain amount of routes/lobbyists via one upgrade path and then decide which materials you'd like to trade/lobby for. This boost would not apply for a factory or a factory extension but for a material. Say you're producing 100 medaillons per second - the lobbyist would boost this to 105.
The second upgrade path could increase the back room

[2019-08-08 16:06] wol-soft opened #47 "Remove translated values from Build Queue jobs internal storage representation"
Currently the title and the labels for Build Queue jobs are stored in the internal data structure and consequently are also transferred to the save states and blow them unneccessarily up.

Don't store the labels in the data structure. Instead generate them during the render process of the Build Queue

[2019-08-08 19:03] Jared87 opened #48 "Scroll reset after upgrade"
While upgrading bar elements below the viewport in the bar minigame the viewport scrolls to the top when clicking on upgrade.

[2019-08-09 18:42] wol-soft commented on #4
@papulla @Marcnesium87  Ich habe einmal ermittelt, wie teuer es wäre, 1 Base Plate über den Trader zu kaufen. Der "Handelswert" einer Base Plate entspricht 19.300 (zum Vergleich: Marble hat einen Handelswert von 100):

  | Required     for 1 Base Plate | Trade Value Material     (1 Unit) | Trade Value     (For required amount) | Required Amount     for purchasing 1 Base Plate
-- | -- | -- | -- | -

[2019-08-10 11:42] wol-soft commented on #40
Hi @Marcnesium87, the automated cloning is a feature which definitely is required in a later stage of the game when more and more features are automated (eg. currently working on slots for Bottle Cap factories to provide autobuyer and auto level up there [#38](https://github.com/wol-soft/beerplop-issues/issues/38)).

Currently the cloning and the Beer Factories are decoupled, there is no defined w

[2019-08-10 12:02] wol-soft commented on #46
@2ndK16 ok in this scenario the Back Room would behave like the Queue Control or the Engineers where you can't construct the building (eg. for Trading Posts you can keep on going to construct further Trading Posts to increase the max. amount of tradable values on each route) but instead "only" upgrade paths are provided with the functionality you described?

Maybe it could be combined with my exam

[2019-08-11 13:02] 2ndK16 opened #49 "Trading Post trading volume increases during Beer Factory Boost and doesn't go back to normal afterwards"
During a Beer Factory Boost, the trading volumes of the Trading Posts is increased as well. If you manually set the trading volume to MAX in this time, it will stay on this level wven ater the Beer Facotry Boost is over, enabling you to trade disproportionately large amounts of goods.

[2019-08-11 15:28] wol-soft commented on #49
Additionally the Beer Factory Boost currently doesn't increase the traded amount automatically.

[2019-08-11 16:14] wol-soft commented on #48
Currently the scrolling resets after multiple actions

- upgrading
- purchsing a new item
- moving an item
- selling an item
- purchasing a total boost adding upgrade

[2019-08-11 19:21] wol-soft commented on #49
Fixed with version 1.56.0. Now the traded amount is increased if a Beer Factory Boost begins and is decreased when the boost ends.

Also if the trading route is set to "Not automatically adjust the traded value" and the boost ends or the game is reloaded (required as the traded currently traded amount is persisted in the save state) the traded amount will be reset to the max. available amount.

[2019-08-11 19:21] #49 closed

[2019-08-11 19:21] wol-soft commented on #48
Fixed with version 1.56.0

[2019-08-11 19:21] #48 closed

[2019-08-11 19:24] wol-soft commented on #38
Feature added with version 1.56.0 limited to the equipment of

- Hydrolysis (+15% bottle cap production)
- Fermentation (+30% bottle cap production)
- Degradation (boosting the duration of Bottle Cap Storms)
- Amylase (Auto level up)
- Diastatic Enzyme (Auto purchase Bottle Cap factories)

[2019-08-11 19:24] #38 closed

[2019-08-11 19:25] wol-soft commented on #37
Catched infinite values at all listed numbers in version 1.56.0

[2019-08-11 19:25] #37 closed

[2019-08-12 06:35] Marcnesium87 opened #50 "Clone and Manage Bar Buttons"
Can we get some Clone and Manage Bar Buttons in the Drop Down Menu, where the Disable/Enable Autobuyer and Level Up Buttons are?
I dont like to scroll Up and Down to see if the Cloning is ready!

[2019-08-12 08:15] wol-soft commented on #50
Hi @Marcnesium87 Would this be still required if #40 is implemented? I can see your point that it's too easy to overlook a possible cloning.

[2019-08-12 08:20] Marcnesium87 commented on #50
Maybe yes, because if you want to Clone a Specific Building (I clone the same Building as fast as I can multiple Times, so the % dont drop down later and the Multiplier rise all in the same Time)
So I have to use a Chrome Stop Time Plugin, to remind me when the Cloning Timer is Zero.
Even with the Clone Automation, i want to Disable the Automation and clone Dispensers three Times in a row on a fre

[2019-08-12 08:24] wol-soft commented on #50
Yeah, good point, also interesting when the cloning automation isn't yet unlocked.

[2019-08-12 09:06] Jared87 opened #51 "CSS classes for higher levels in bar minigame are missing"
The classes from 7 and up are missing.

[2019-08-12 10:40] wol-soft opened #52 "Auto-Buyers are inactive if all plops are invested in Research Projects/Beer Bank"
If the combined investment into Research Projects and the Beer Bank is at 100% the Auto-Buyers on Buildings and Bottle Cap Factories (provided by equipping a slot with Diastatic Enzyme) are inactive and don't purchase new buildings even if enough Plops are available.

[2019-08-12 12:49] Marcnesium87 opened #53 "More Activ Endgame"
Are there Any Plans for a more activ Endgame? All Minigames and the Core Game are only Idle Gaming at some Point. Maybe some more Activ Minigame? Beerbraker (Ballbreaker Clone) or an RPG the Reward can be Some Buffs you can earn. Imagine an Chest in an RPG wich contains 3 Buffs which are aktivated at the same Time.

[2019-08-15 18:07] papulla opened #54 "Bekomme andauernd NaN bei den Magiern, wenn ich Auto-Trainings anschmeiße"
Seit dem ich im e+100 Mana per second Bereich bin, passiert es immer öfter, dass die Magier auf NaN stehen, bei der Ausbildungszeit.

Bin Aktuell in folgenden Leveln bei den:
Spells: LXXXIV
Equipment: XLVIII
Darkness: XLIV

Habe jetzt 572 Magier, davon trainieren so die Hälfte,

[2019-08-16 08:10] wol-soft commented on #53
Hi @Marcnesium87 current plans are to add another sacrifice level after hitting infinity (compare #37). Which features will unlock in that sacrifice level is currently not defined. More minigames for the buildings are possible.

If you have concrete ideas for minigames they are always welcome. I don't like the idea of bringing arcarde games into Beerplop.

[2019-08-16 20:48] 2ndK16 commented on #54
Sei dankbar, warte 30 Sekunden, lade die Seite neu und das Training ist abgeschlossen.

[2019-08-16 22:41] wol-soft commented on #54
Trotzdem immer noch ein Bug 😃

[2019-08-17 12:12] wol-soft opened #55 "Infinity Sacrifice"
After reaching infinite Plops (capped at Number.MAX_VALUE to not break the game, compare #37 ) a new sacrifice layer should be enabled. This issue shall define the functionality of the new sacrifice layer. Current premise: sacrificing with infinite plops gains one "infinity plop"

Some questions to find answers for:

* Which new features/boosts shall be unlocked by sacrificing?
  * eg. automatic s

[2019-08-17 12:28] 2ndK16 commented on #55
May I suggest the notation "\aleph_n plops"?

I'd suggest none that improve gameplay, otherwise you'll just keep playing faster and faster each round. Maybe some automatically generated new upgrade paths for the Beer Factories? Or something silly like the ability to change the style of the beer glass in the main game view?

Everything that plops can buy you. Once your plops go infinite, so does ev

[2019-08-18 13:32] wol-soft commented on #51
Fixed with 1.57.0

[2019-08-18 13:32] #51 closed

[2019-08-18 16:10] 2ndK16 opened #56 "Beer Factories | Trading amounts are not correctly set after construction of new Trading Post"
I built a new trading post and the traded amount were not set to the maximum value, as they should have, but only to one half of the maximum value.

[2019-08-18 16:28] wol-soft commented on #56
@2ndK16 was it possible to max the traded amount with the MAX button to the expected value afterwards? At which levels are your trading post upgrade paths?

[2019-08-18 18:11] 2ndK16 commented on #56
@wol-soft yes, setting the value to MAX manually worked fine. I have 20 TPs on level 4/2.

[2019-08-18 18:54] wol-soft commented on #56
@2ndK16 the option to automatically update the trading amount to the maximum value is enabled for each route?

I just tried to reproduce the issue without success. The amount was updated correctly. I also tried to reproduce it with an active Beer Factory boost but the scenario also worked for me. The values were updated and a notification about the automatic update was shown.

[2019-08-18 19:18] 2ndK16 commented on #56
I've ticked all three checkboxes and it also happens whenever I reload the page.

[2019-08-18 19:24] wol-soft commented on #56
What happens when you reload the page? A wrong amount is calculated and configured for the trading routes?

[2019-08-18 19:29] 2ndK16 commented on #56
The following happens:
I trade 640 Diamond in exchange for 457 Tools on each of the three routes.
I refresh the page.
All three routes are set to 320 Diamond for 228 Tools.
I set the trading amount to MAX manually.
I trade 640 Diamond in exchange for 457 Tools on each of the three routes.

[2019-08-18 19:36] wol-soft commented on #56
Can you provide the name of your save state so I can have a look into it? As described above I'm currently not able to reproduce it but it seems to be reproducable with your save state.

[2019-08-18 19:37] 2ndK16 commented on #56
My current save state is named TimeThief7 by user ysc

[2019-08-18 19:38] wol-soft commented on #40
The auto cloning will be available via a holy upgrade. After unlocking the holy upgrade the automation can be enabled/disabled via a simple switch. Each building can be configured with a cloning-priority value to control the order of the clonings.

[2019-08-18 19:39] wol-soft commented on #56
Thanks, I'll have a look into it

[2019-08-18 19:44] wol-soft opened #57 "Beerwarts | Automated training checks for >100 magicians performance"
The automated training checks for a large amount of magicians is currently very slow. Consequently the game slows down during checks and especially loading of a save state get's blocked.

[2019-08-18 19:58] wol-soft commented on #56
The traded amount is recalculated during reload to avoid too high numbers caused by saving during a Beer Factory Buff (#49). Currently the Pyramids of Giza equipment of the Was Scepter wasn't calculated correctly during this recalculation as it hasn't been fully loaded. I've moved the recalculation so it's not executed until the complete save state is loaded.

I've released the patch and a reload

[2019-08-18 20:05] 2ndK16 commented on #56
Ah! Yes, there has always been something odd about the Pyramids of Giza - I've never received the Achievement of completion as well. Anyway, now it works - many thanks!

[2019-08-18 20:05] #56 closed

[2019-08-19 19:28] wol-soft commented on #40
Resleased with version 1.58.0

[2019-08-19 19:28] #40 closed

[2019-08-20 08:41] Marcnesium87 opened #58 "Disable Autobuy"
should Disable/Enable the Buttons inside every Building. So we can use it to Kick off all and then enable a speicific Building.
So the Disable Button should control all Buttons in every Building.

[2019-08-20 08:47] Marcnesium87 commented on #55
First of all i think, bevor unlocking some New Content, you should keep some old Stuff. So first Sacrifice should unlock Autobuyers forever, secound LEvel Up, third Upgrade Autobuyer, fourth Cloning. So every  Run gets a little bit faster because you have unlock an Holy Upgrade by start. Fifth maybe is an 15% permanent boost on Beermates gain. Later on Beerwarts Autobuyer, Research Autostarter...

[2019-08-20 13:21] wol-soft commented on #58
This behaviour would force me to enable all auto buyers for each building after I disabled all buildings to save some plops (eg. for a bottle cap factory level up). I guess it's more an use case to have all available auto buyers enabled and then to pause/start all buyers with the global enable/disable switch.

If auto buyers shall be enabled only for some specific buildings manual configuration se

[2019-08-20 15:06] wol-soft opened #59 "Reduce size of initially loaded data"
To increase the initial loading speed split the initially loaded DOM into components which are loaded separately and are cached client-side for the current version.

[2019-08-21 05:19] Marcnesium87 commented on #58
Then we need an Switch Building Arrow to fast switch between Buildings. For now I have to open Building Tab, switch Button, close and redo for all Buildings.

[2019-08-21 08:06] wol-soft commented on #58
A fast switch button (or a menu to select the currently managed building) seems like a good idea, I think I'll create a new issue for this change, but it won't change the use case behind the disable/enable switch.

The requested change of the switch behaviour would still force the player to enable each building manually if he disabled the automation once.

As described in my previous comment disab

[2019-08-21 08:09] wol-soft opened #60 "Fast switch between building modals"
Provide a possibility to switch between building modals without closing the modal and opeining a new modal.

* Click through all building modals (kind of step forward/step back)
* Selectbox/Menu to select the currently displayed building

[2019-08-22 11:12] sirtapps opened #61 "Auto Cloning"
Es gibt irgendwie eine Unstimmigkeit beim Auto-Cloning.

Manuell geht es scheinbar in 250er Schritten, also 1250 enstspricht 5 Clones, 1000 entspricht 4.
Ich habe 1440 Opener, aber 6 Clones. Bei allen anderen Gebäuden sind es 5 Clones, auch mit 1410 Dispenser oder 1158 Beer Teleporter.

Beim Ausschalten von Auto-Cloning kann ich aktuell nichts weiter clonen.

![grafik](https://user-images.githubus

[2019-08-23 13:48] wol-soft opened #62 "Show offline progress in a modal"
Currently the offline progress is shown as a floating number which hides rather fast.

Show the offline progress in a modal to
* achieve readability of the amount of generated plops
* show other currencies which have been generated (eg. Bottle Caps, Mana)

[2019-08-23 14:42] wol-soft commented on #59
![image](https://user-images.githubusercontent.com/14750468/63601060-02efa600-c5c5-11e9-9113-40ee3173b9fb.png)

[2019-08-23 14:42] #59 closed

[2019-08-23 14:43] wol-soft commented on #18
Implemented new TemplateStorage in 1.59.0

[2019-08-23 14:43] #18 closed

[2019-08-23 14:43] wol-soft commented on #57
Improved performance issues caused by UI updates after each finished training with 1.59.0

[2019-08-23 14:43] #57 closed

[2019-08-23 15:44] ghysler opened #63 "Save States window broken in 1.59.0"
See attached screenshot. In version 1.59.0 the Save States window shows a login prompt, although I am logged in with my account. Already tried to delete cookies/cache, but that doesn't help.

Running on Chromium Version 76.0.3809.100 (Official Build) (64-bit)
User agent: Mozilla/5.0 (Windows NT 10.0; Win64; x64) AppleWebKit/537.36 (KHTML, like Gecko) Chrome/76.0.3809.100 Safari/537.36

![Capture](

[2019-08-23 15:52] ghysler opened #64 "Scripts not loading with Pale Moon 28.6.1"
I'm unable to open the Beerplop website with Pale Moon 28.6.1 (x64). This issue started around version 1.45 of Beerplop. Loading page stops at "Initializing scripts". I remember it suddenly stopped working and, although I did not change anything to my browser configuration. I switched to Chromium where it works properly, but would prefer to continue to use Pale Moon.

 Could you investigate this?

[2019-08-23 15:54] ghysler opened #65 "Unable to locate cloning automation"
Version 1.58.0 mentions adding cloning automation. I expected this to be a holy upgrade, but I can't find it anywhere. Am I looking in the wrong place?

[2019-08-23 19:44] wol-soft commented on #63
Hi @ghysler, I've released a fix fo this one, thanks for the report.

Additionally some translations from the login modal are missing, I'll have a look into it tomorrow.

[2019-08-23 19:51] wol-soft commented on #65
@ghysler maybe you haven't yet unlocked all previously required holy upgrades on the path?

![image](https://user-images.githubusercontent.com/14750468/63619813-ff254900-c5ef-11e9-8b56-4b3749bb697f.png)

[2019-08-23 19:56] wol-soft commented on #64
I'll have a look into it at the start of next week.

[2019-08-23 20:10] ghysler commented on #63
Save States window indeed working again. Thanks for the quick fix!

[2019-08-23 20:11] wol-soft commented on #63
Thanks for checking it.

[2019-08-23 20:11] #63 closed

[2019-08-23 20:12] ghysler commented on #65
Ahh, you're right! In that case I have a long way to go :-)

Could you add this holy upgrade to the wiki page? https://wol-soft.de/apps/beerplop/wiki/index.php/Holy_Upgrades

[2019-08-23 21:07] wol-soft commented on #65
Yeah, I'll add it tomorrow. Sorry for the path spoiler 😃

[2019-08-24 11:35] wol-soft commented on #65
Added to the documentation at https://wol-soft.de/apps/beerplop/wiki/index.php/Holy_Upgrades

[2019-08-24 11:35] #65 closed

[2019-08-24 11:48] ghysler opened #66 "Achievement "Boeing Everett Factory" not achieveable"
Might as well report another small issue, while I'm at it :)

The custom buy charge does not allow an amount above 500, which makes it impossible to get the achievement "Boeing Everett Factory" (requires 600).

My suggestion would be to increase the custom buy charge limit to allow a maximum of 600 buys.
EDIT: Or perhaps even a limit of, let's say: 1000? That would allow for challenging additional

[2019-08-24 12:53] wol-soft commented on #66
Hi @ghysler thanks for contributing.
This achievement indeed is reachable. Just not with the custom buy charge. You can instead use the **buy max** charge setting to purchase more than 500 buildings with a single click.

[2019-08-24 12:53] #66 closed

[2019-08-25 18:09] wol-soft commented on #64
Hi @ghysler I've changed the loading order a little bit based on the given error message with 1.59.3.

I haven't set up a VM yet to look if it fixes the loading issue. Could you check if the issue is fixed with the new loading order?

Anyhow thanks for the detailled platform description in the issue!

[2019-08-25 21:27] ghysler commented on #64
Now it hangs at phase "Loading script assets".  Message in console:

`23:25:18.868 SyntaxError: invalid property id 1 plop:2632:9213
	b https://wol-soft.de/apps/beerplop/dist/js/beerplop-init-1.59.3.min.js:2:758
	globalEval https://wol-soft.de/apps/beerplop/dist/js/beerplop-init-1.59.3.min.js:2:2681
	text script https://wol-soft.de/apps/beerplop/dist/js/beerplop-init-1.59.3.min.js:2:81840
	l/s< ht

[2019-08-26 09:38] wol-soft commented on #64
Hi @ghysler

I've found the reason for this incompatibility. Pale Moon as well as Edge/IE don't (yet) support some new JavaScript features used in the Bootstrap-Material-Design library Beerplop uses from version 4.1.2 upwards (compare: https://github.com/FezVrasta/bootstrap-material-design/issues/1373).
This matches with your description since when the game is broken in Pale Moon as I updated libr

[2019-08-26 14:37] wol-soft commented on #27
Offene Fragen hierzu wären:

- Nur für Primärmaterialien oder auch für Sekundärmaterialien (zB. Charcoal, Tools) Produktionsstätten, die Materialien über mehrere Runden produzieren (betrifft aktuell nur die Base-Plate Produktion) wären eh ausgeklammert, da man technisch nicht mehr als 1 Einheit/Iteration produzieren kann (außer mit Proxy Factory Extensions)
- Werden bei Sekundärmaterialien alle Pr

[2019-08-26 16:24] wol-soft commented on #61
Hi @sirtapps Ich habe es mir gerade einmal angeschaut, war bisher aber leider nicht in der Lage, den Fehler zu reproduzieren. Sind bei dir alle Gebäude zum rechnerischen Maximum, die 250er Schritte sind dafür die korrekte Berechnung, gecloned?

[2019-08-26 17:21] 2ndK16 commented on #27
Ich würde nur die Primärmaterialien mitnehmen, sonst muss man nur ewig die Regeln für diese Achievements erklären.

[2019-08-26 18:12] wol-soft commented on #64
Fixed the loading in 1.60.0.

[2019-08-26 18:12] #64 closed

[2019-08-26 18:12] wol-soft commented on #60
Added in 1.60.0

[2019-08-26 18:12] #60 closed

[2019-08-26 18:33] ghysler commented on #64
Thank you for implementing this fix/workaround! Nice work!

I can confirm the game loads now, but I'm seeing a few issues:

* Show current load/level map in the Bar don't have any effect
* Save button in Save States window does not show save notification
* Achievements are not showing

Console shows below error upon opening the game, although I don't know if it is related.

`20:29:30.880 bootstrap

[2019-08-26 19:27] wol-soft commented on #64
Hi @ghysler

the bootstrap-slider warning can be ignored.

The save message may be a timing thing. It only shows if the save state is persisted to the server. If it just has been persisted a new save is locked for 30 seconds to prevent spamming new saves to the server.

For the other issues you may open new issues 😉

[2019-08-29 09:02] sirtapps commented on #61
Servus. Ich habe **ein** Gebäude "geopfert", wobei dann bei **allen** Gebäuden 1 Stufe Cloning entstanden ist.  (Vielleicht täusche ich mich da, aber nach einem Neustart sind alle Gebäude bei mir auf Stufe 1 geclont).

Auf deine Frage: Nein, dass stimmt bei mir irgendwie überhaupt nicht. Ich habe 1514 Dispenser, aber 7 Clonings, 1538 Opener mit 6 Clonings, 1489 Service Assistens mit 6 Clonings....

[2019-08-29 13:30] wol-soft commented on #61
Hi @sirtapps was genau meinst du mit **ein** Gebäude "geopfert"?

Die Mechanik soll so funktionieren, dass man beim Sacrifice (wobei man aber ja alle Gebäude "opfert"), für jedes Gebäude die erste Cloning-Stufe bekommt. Also genau das von dir beschriebene Verhalten. Dafür ist es auch nicht relevant, dass bereits 250 von den Gebäuden im Besitz sind. Die zweite Cloning-Stufe schaltet sich dann erst

[2019-08-30 13:06] sirtapps commented on #61
Ich meinte ein Gebäudetyp. Also nicht ein einzelnes Gebäude.

Ich habe heute mal neu gestartet. Folgende Beobachtung:
Sacrifize all 9:52 Uhr (**auto-level up & auto-Buy ausgeschalten**)
	• Alle gleiche Prio, 1x Opener "direkt" geclont (alle 1x Clone, Opener 2x)
	• 10:24 - Cloner 3x, Rest 1x
	• 10:52 - Cloner 4x, Rest 1x
	• 11:24 - Cloner 4x, Dispenser 2x, Rest 1x (keine 1250 Opener gehabt)
	• 13:1

[2019-08-30 13:54] sirtapps commented on #61
Jetzt war ich mal bei einem Clonevorgang zufällig dabei....

![grafik](https://user-images.githubusercontent.com/21241313/64026097-67b77d00-cb3e-11e9-9b34-91b77aa29a3d.png)

[2019-09-01 19:33] 2ndK16 opened #67 "Eierbier!"
Nicht vergessen: Ei als Zutat für die Beer Blender Bar! Kann vielleicht die Beer Factories boosten oder den Verkauf in der Automated Bar. Und dazu einen lecker Pillkaller!

[2019-09-02 08:49] #58 closed

[2019-09-02 08:50] Marcnesium87 commented on #58
Problem Solved

[2019-09-03 08:55] wol-soft commented on #61
Hi @sirtapps danke für die sehr ausführliche Beschreibung! Es liegt wohl an der Kombination Auto-Buyer aktiv und Auto-Cloning aktiv. Ich habe mit 1.60.4 weitere Checks implementiert.

Wäre super, wenn du es nach deinem nächsten "Sacrifice all" noch einmal beobachten könntest.

[2019-09-03 09:45] sirtapps commented on #61
Servus @wol-soft, ich hatte gerade ein Gebäude auf 1500 geupdatet, welches 5 Clonings hatte. Hat jetzt 6. Sieht erstmal so aus, dass die Checks aus 1.60.4 passen! :thumbsup:

[2019-09-03 10:01] wol-soft commented on #61
Und an dem entsprechenden Gebäude war auch ein Auto-Buyer aktiv?

[2019-09-03 10:12] sirtapps commented on #61
Nein, ich hatte das vorher global ausgeschalten gehabt. Ansich hätte das Gebäude einen gehabt.

[2019-09-03 10:16] wol-soft commented on #61
Der Fehler scheint nur bei aktiviertem Auto-Buyer aufzutreten. darum passte bei deiner ausführlichen Beschreibung bis 14:08 auch alles.

[2019-09-04 11:36] sirtapps commented on #61
Ich hatte jetzt ein Update von 5 auf 6 Clonings, alles mit Auto-Buyer. Mit dem Fehler wäre normalerweise 7 herausgekommen. Ich denke, die Lösung passt!

[2019-09-04 11:41] wol-soft commented on #61
Sehr schön, dann schließe ich den Issue mit dem kommenden Release. Sollte es doch noch wieder auftreten einfach wieder aufmachen 👍

[2019-09-04 17:09] #61 closed

[2019-09-04 17:10] wol-soft commented on #52
Fixed with 1.61.0

[2019-09-04 17:10] #52 closed

[2019-09-04 17:10] wol-soft commented on #46
Implemented with 1.61.0

[2019-09-04 17:10] #46 closed

[2019-09-04 17:10] wol-soft commented on #44
Implemented in 1.61.0

[2019-09-04 17:10] #44 closed

[2019-09-05 12:15] Marcnesium87 opened #68 "Fast switch between Beer Banker"
As longs as we don´t have any new Upgrade system like our Beerwarts, can we have an fast switch arrow between our Beer Banker

[2019-09-09 11:15] Marcnesium87 commented on #68
I think we need some fast Solution, because my 70 Bankers have a Balance of Minus 300 Seconds worth of Production. So the Game ist unplayable when i dont keep teaching my Bankers one by one.

[2019-09-09 12:24] wol-soft commented on #68
@Marcnesium87 which balance is negative? the current balance or the total balance?

[2019-09-09 12:27] Marcnesium87 commented on #68
Current is negativ. Total stays uncangend since couple of days. So i think i dont earn any Money with them. (19 Back Rooms with full Path)

[2019-10-30 08:11] wol-soft opened #69 "Building overlay doesn't update if a slot construction is finished"
If enough base plates are available and an additional slot is added to the build queue which is finished in the next tick the overlay doesn't show the new slot.

[2019-11-04 11:13] wol-soft commented on #67
'Kleiner' Step-By-Step Guide für die Implementierung. Da hängen doch schon einige Sachen mit dran. Mal schauen, was ich nun so alles vergessen hab 😄
Relativ wichtig für die Implementierung ist ein mögliches Refactoring in Schritt **5**

### 1

`src/client/js/Game/Minigames/BeerBlender.js`

Neuen Eintrag für neue Zutat anlegen. Hierbei wird definiert, welche Auswirkungen die Zutat auf das Spiel hat

[2019-11-04 21:04] wol-soft opened #70 "Expand Bottle Cap Factories at the beginning"
Expand the Bottle Cap Factories at the beginning for an easier start into the game
(https://www.reddit.com/r/incremental_games/comments/drhq4m/beerplop_is_now_open_source_feel_free_to/f6jk65y?utm_source=share&utm_medium=web2x)

[2019-11-05 11:31] blindsoose opened #71 "Clicking beer is inaccessible for the blind?"
Hello, so as you have guessed, i'm a blind person, and when i'm launching this game, i obviously try to play it by finding something to click on.
At first, i thought you need to click on plops: 0, but no, this opens the owned buildings/plop production thingy.
Then i've tried meny more graphics to click on, for example a+, the X labeled graphics, bar graphics and so on, but my plops are not increas

[2019-11-05 13:27] wol-soft commented on #71
Hi @blindsoose do you use any tools to access Beerplop so I can comprehend your issue?

[2019-11-05 17:48] blindsoose commented on #71
only nvda from
http://nvaccess.org

[2019-11-06 10:54] MRVDH opened #72 "wol-soft.de down"
Website is down.

[2019-11-06 14:48] wol-soft commented on #72
Hi @MRVDH thanks for the report. I can't find anything in the logs. For me everything seems fine. Can you access the page again? I've set up a monitoring service to alert me if the website goes down.

[2019-11-06 15:02] wol-soft commented on #72
Hi, I can see a drop in the requests/hour rate:
![image](https://user-images.githubusercontent.com/14750468/68309344-9148d380-00ae-11ea-9ede-769c0eb79887.png)
but not a complete downtime, maybe some kind of network issue @ the hoster.. idk

If it occurs again I'll dive deeper to investigate the issue (hopefully not as I've no idea 😄).

[2019-11-06 15:02] #72 closed

[2019-11-07 19:03] wol-soft commented on #70
Released

[2019-11-07 19:03] #70 closed

[2019-11-07 19:05] wol-soft commented on #71
I've added a label with the version 1.61.3.

Can you check if it helps? I guess there will occur a lot of problems using Beerplop with nvda.

[2019-11-08 04:24] blindsoose commented on #71
Hello, yes, it works. Thank you very much.
And i guess another problem that's left is only the hover things to get building details. It's doable with nvda, but very uncomfortable.
Thanks for your hard work.

[2019-11-08 10:24] wol-soft commented on #71
Hi @blindsoose,
I've added labels to the building details. If further problems occur feel free to open a new issue/reopen this one.
Thanks for your input!

[2019-11-08 14:32] blindsoose commented on #71
Hello, i'm sorry, i may have requested a wrong feature. When i said building details, i ment the thing when you hover over a building name and it will tell you this:
Openers
Openers to open bottles
Owned:
100
Total production:
299,001 Million Plops
Production:
5 494,8 Plops (3,0% of total plops)
Production each:
49,5 Plops.
Can you please make so that it will be possible to don't hover it, but to

[2019-11-12 18:25] wol-soft opened #75 "Remove Inkscape metadata from SVG files"
Some old SVG images contain Inkscape metadata. Remove the metadata to reduce the transferred data in the `GET /deferred/images/$version` route.

Removing metadata with Inkscape: open the file and save it as 'normal SVG'.

Look through all images located in `src/View/Img`.

[2019-11-18 19:03] wol-soft commented on #69
Fixed event listener

[2019-11-18 19:03] #69 closed

[2019-11-18 19:04] wol-soft commented on #39
Implemented auto upgrade control unlockable via beer factory academy exploration

[2019-11-18 19:04] #39 closed

[2019-11-20 18:22] #75 closed

[2019-11-28 20:26] micaminoff opened #78 "NaNs in land of the Beer Factories"
After the update just now, land of the Beer Factories shows a bunch of material stock as NaN. Closing and reopening land of beer factories instantly completed all buildings in the queue, still at NaN for materials though.

I can't seem to export a save but if you need more info let me know. In the console I get one error:

`ReferenceError: options is not defined beerplop-init-1.64.0.min.js:3:97098

[2019-11-28 20:41] wol-soft commented on #78
Thanks for the report! I'll have a look into it

[2019-11-28 20:59] micaminoff commented on #78
Some more info: a page reload shows all materials at 0, and then increasing. Adding anything to the queue turns it all into NaNs. Closing the land of Beer Factories and reopening it (no page reload) causes the queue to instantly finish, and materials remain NaN.

[2019-11-28 21:02] wol-soft commented on #78
I've reverted a change of the release causing the issue. Can you check if it also resolves your problems?
I was able to reproduce the issue with my save state. Some "free" finished jobs, yay

[2019-11-28 21:04] micaminoff commented on #78
That seems to have resolved it! Wow, quick work 👍

[2019-11-28 21:06] wol-soft commented on #78
Thanks again for the report, before it crashes more save states!

[2019-11-28 21:06] #78 closed

[2019-12-03 15:38] hyppy99 opened #79 "Unable to save game anymore, online or locally"
Sitting around Level 1 quadrillion, 47 Tredecillion plops (59.233 total).  I do use an autoclicker for clicking the beer as well as automatically clicking bottles.

Here is the console message whenever a save is attempted:

[code]

And here is what happens when a load is attempted:

[code]

[2019-12-03 16:03] wol-soft commented on #79
Which browser are you using?

[2019-12-03 16:11] hyppy99 commented on #79
Chrome Version 78.0.3904.108 (Official Build) (64-bit).

The game was running overnight, and the saving issue crept up somewhere during that time period.  The last loadable save point seems to be from a time about halfway through the night.

[2019-12-03 19:17] LucidCrux commented on #79
Can confirm. Even clicking on "Save States" takes a good 30 seconds to pop up the list of files. And on Firefox I get:
QuotaExceededError:
setLocalSaveState https://wol-soft.de/apps/beerplop/dist/js/beerplop-game-1.64.4.min.js:3
GamePersistor https://wol-soft.de/apps/beerplop/dist/js/beerplop-game-1.64.4.min.js:3
<anonymous> self-hosted:1017

Also have this, but not sure if it's a new one.
TypeErr

[2019-12-04 00:05] LucidCrux opened #80 "Incorrect Achievements Awarded"
Multiple of the factory land material achievements (get e9, e10, e11, etc) are awarded at once for many materials. Didn't look at the code, but possibly a case of copy/paste without changing values.

[2019-12-04 00:13] LucidCrux opened #81 "Mouse Lockout"
Using a small window with beer glass and building list side-by-side (haven't tested larger/smaller), when closing the special buildings or factory tab/overlay, it is sometimes possible be locked out of mouse interaction, requiring a refresh of the page. It seems to be behaving almost like an overlay is still present and 'blocking' input to lower objects. I don't have a reliable way to reproduce th

[2019-12-04 00:25] LucidCrux opened #82 "[Request] Option to turn off all the charting junk"
I find most of the charting stuff useless, frequently being a flat line, more or less. I would prefer a decrease in memory / cpu usage, even if it is minor. Honestly, even if the polling was in longer intervals and spanning a longer period, for more meaningful graphs, I would still prefer the performance bump.

[2019-12-04 08:26] wol-soft commented on #79
I'm currently not able to reproduce the issue with my save state. Can you provide numbers for the supported localStorage of your browser (https://arty.name/localstorage.html) and the size of your Beerplop save state (execute `(new Beerplop.GamePersistor()).getSaveState().length
` in the Beerplop browser console).

There seems to be no uniform definition of the localStorage size. Current options fo

[2019-12-04 08:36] wol-soft commented on #79
By the way: the online auto save is working even if the local save can't be saved, so your current progress isn't lost. The manual save doesn't work as it tries to save the current state locally and on the server (locally first, which crashes)

[2019-12-04 14:45] hyppy99 commented on #79
Online save doesn't seem to work either.  The next reload puts me back at the 1 quadrillion level, even after saving hours later at 2 quad.  I'll double check this today to make sure,

LocalStoage limit of my browser: 5200000 characters were stored successfully, but 5300000 weren't.

(new Beerplop.GamePersistor()).getSaveState().length = 4435060

[2019-12-04 14:56] hyppy99 commented on #79
Confirmed that online save states aren't functional either.  In fact, I see a "save state conflict" message when I try and interact with online saves.

Below is a screenshot of my save state configuration.  Note that my progress reverts to progress from approximately 12/2/2019 whenever I reload.

![image](https://user-images.githubusercontent.com/20598917/70153004-34741500-167c-11ea-9cf2-0e8689fd6

[2019-12-04 17:36] wol-soft commented on #80
This issue is a result from the bug #79.

[2019-12-04 17:46] wol-soft commented on #80
Bug #79 leads to large strings stored as total production for materials which causes the achievement checks to award them without 'earning' them. Version 1.64.6 contains a fix for the stored total production numbers. Afterwards the achievement check will work again as intended.

[2019-12-04 17:46] #80 closed

[2019-12-04 17:55] wol-soft commented on #79
I've located the issue. The counter for the total produced materials in the beer factories converted the number into a string concating each second more and more characters to the string. This results in a very large string over the time. Version 1.64.6 contains a save state fixer which corrects the number. Afterwards the size of the save states decreases massively and a save should be possible ag

[2019-12-04 18:14] wol-soft opened #83 "Optimize loading Save States list"
Currently the save states are loadded completely (including the saveState) to show the table with available save states. Only load the required data (id, title, modified) in the route `@Route GET /save`

[2019-12-04 22:47] hyppy99 commented on #79
@wol-soft that seems to have fixed it.  Bravo! Storage also dropped from 7.7MB to 3.7MB.

[2019-12-04 23:03] #79 closed

[2019-12-05 02:32] LucidCrux commented on #79
Seems to have worked, and the game states box pops up much quicker as well.

[2019-12-05 08:41] wol-soft commented on #79
@LucidCrux yeah, currently the whole save states are transferred to open the game states box (consequently multiple MB with the broken states). I've opened a new issue (#83) to fix this by loading only the displayed data.

[2019-12-05 10:29] wol-soft commented on #81
In which browser does the issue occur? I tried to reproduce it in Firefox 70.0.1, Chrome 78.0.3904.108 and in Edge 44.18362.449.0 without reproducing it once (opened/closed overlays for a while)

[2019-12-05 17:30] wol-soft commented on #83
Released optimization

[2019-12-05 17:30] #83 closed

[2019-12-05 17:32] wol-soft commented on #82
Added an option to turn the charting off. Additionally implemented an option to switch between linear and logarithmic scale. If a modal stays open and charting is enabled additional data points are automatically added to the charts.

[2019-12-05 17:32] #82 closed

[2019-12-05 17:36] wol-soft commented on #71
Hi @blindsoose,

I've added the information from the popover to the building detail modal which opens when you click on the building (same spot where the hover popover currently opens). Added a label to the buildings, eg. "Building details for openers".

Level Ups always duplicate the production of a building (as well the normal buildings as the Bottle Cap Factories).

The 50 is a custom buy charg

[2019-12-06 04:55] LucidCrux commented on #81
I'm in firefox 70.0. Like I said, it seems super random. The reason I was thinking fast clicks is because I had a mouse issue with left button, resulting in lots of unintended rapid clicks. Sometimes I would get locked 15 minutes after a refresh, other times I could play for half the day before it happened.

I switched mice now, and am taking a small break from the game, but if it happens again wh

[2019-12-06 04:57] LucidCrux commented on #82
Nice. You work quick. Thank you.

[2019-12-12 22:21] 2ndK16 opened #86 "Suggestion for reducing the save state size: shorten Beer Factory build queue history entries"
Every save state contains a full Beer Factory Build Queue history; mine now contains 698 entries and in each entry, a full description of the build is stored, for instance "Build an Academy" oder "Equip Openers with diastatic enzyme".

I suggest shortening these descriptions and outsourcing the full titles into languages/en.json to reduce the save state size.

So, instead of

[code]
store

[code]

[2019-12-13 14:07] wol-soft commented on #86
Similar like #47. I can see some storage saving. But instead adding all labels to the language file I'd suggest to store the action-ID (BUILD_QUEUE__* constants from __BeerFactory.js) and the item to generate the label from this information to avoid a massively extended language file with cryptic keys.

Maybe an additional step could be to limit the amount of stored jobs to let's say 100.

[2019-12-14 13:28] wol-soft opened #87 "Enable Cloning for Bottle Cap Factories"
To close the gap between Plop and Bottle Cap production enable cloning for Bottle Cap Factories.

[2019-12-15 18:20] wol-soft commented on #54
Die Trainings sind jetzt auf Max. 1000 Tage begrenzt. Zusätzlich wurde der Preis erhöht, um ein Beenden des Spiels mit Magiern, sobald ein bestimmter Schwellwert überschritten ist, zu unterbinden.

[2019-12-15 18:20] #54 closed

[2019-12-15 18:21] wol-soft commented on #87
Released

[2019-12-15 18:21] #87 closed

[2019-12-15 18:21] wol-soft commented on #47
Released

[2019-12-15 18:21] #47 closed

[2019-12-19 22:51] SaintKarien opened #88 "Need help with Beerwarts training upgrades taking 1000 days each"
Out of nowhere, all my upgrades now require 1000 days to upgrade each. If the only way to fix that is to restart from scratch, I think it's time for me to quit.

[2019-12-21 18:45] wol-soft commented on #88
Hi @SaintKarien,

in a later stage of the game the training times are getting longer but there are upgrades which lead to magicians reducing the training time of each running training so they are reachable. Although in a very late stage the times got way too large so I limited them to 1000 days. I messed the calculation up, fixed it with 1.66.1 which I just released.

You can cancel the running tr

[2019-12-21 19:14] SaintKarien commented on #88
Delay kinda sucks (Shouldn't event exist imo.) since I would lose progress for 7 days(Not even counting the time taken for around 12~ upgrades for the new ones) waiting for the CD to go away on all my mages.

[2019-12-22 12:53] micaminoff opened #89 "Selecting "All In" option in stock market can select more than I can buy"
Hopefully the issue's title is clear. At 1e+25 plops, I attempted to buy Beer Glasses at 8k price using "All In". The amount that was filled into the "Amount" field seemingly exceeded the currently available amount and I got a prompt to select a value less than xxxx.

I would expect the "All In" button to select the max buyable amount, limited by both current plops and currently available amount.

[2019-12-22 13:28] wol-soft commented on #89
Hi @micaminoff,

the All In button takes the current amount of Plops and calculates how many Beer Glasses (or Malt/Hop, whatever you selected to trade with) can be purchased with 90% of the current Plops. The result is filled into the "Amount" field. So there is a 10% buffer for changes of the current Beer Glass price (the current market price, updates each second) which should be enough to start

[2019-12-22 13:32] wol-soft commented on #88
So you are fine with the Bugfix or do you need further assistance to remove the trainings from your save state which shouldn't take such a long time?

[2019-12-22 13:41] wol-soft commented on #81
I don't really know how to investigate the bug. Are you familiar with the browser development tools? You could have a look with them at the DOM when the issue occurs again. You could check if a DIV or something similar acts as a transparent overlay and collects all mouse events so the other input elements are blocked as you describe in your initial report.

Maybe there is a class on the DIV or som

[2019-12-22 13:42] wol-soft commented on #71
Hi @blindsoose, any further feedback on this issue? Else I'll close it soon.

[2019-12-22 13:52] micaminoff commented on #89
Hey, I don't have any automation yet. I can't seem to reproduce it now either. I could have sworn I tried pressing the All In-button again and still not being able to buy the selected amount, but I may be misremembering. If I encounter this again I'll try to be more thorough with documentation and reporting. imo you can close this for now. Thanks for a great game and merry christmas 🎄

[2019-12-22 13:55] wol-soft commented on #89
Alright. Thanks for the fast reply and feel free to open the issue again if the issue occurs again. I'll have a look into the behaviour when automation is unlocked to see if it causes the problems I currently imagine.
Happy to hear you enjoy the game. Merry christmas 😃

[2019-12-22 13:55] #89 closed

[2019-12-22 19:36] SaintKarien commented on #88
I wouldn't mind waiting, but it's annoying. I just feel like there shouldn't be a need for the 7 day delay. Just make the punishment be no refunds for starting and cancelling training if that wasn't the case already. Or lower the delay time to 1 day or less.

[2020-01-08 16:41] 2ndK16 opened #92 "Unique Builds: spells djed and was don't work"
While refactoring the Beer Factory multiplier to a ComposedValue, I noticed that the Unique Build multiplier wasn't applied correctly.
Assuming that I had fucked it up, I tested it again on wol-soft.de and got the following results for each of the spells:
- ankh works
- djed works only after reloading the page
- was doesn't do shit

Tested with Opera 64 on Manjaro Linux

[2020-01-08 16:52] wol-soft commented on #88
I noticed the delay time isn't coupled with the game speed. I'll fix this in a new issue.

[2020-01-08 16:52] #88 closed

[2020-01-08 16:53] wol-soft opened #93 "Training durations/Training cooldown don't include the game speed"
I noticed the delay time isn't coupled with the game speed. I'll fix this in a new issue.

_Originally posted by @wol-soft in https://github.com/wol-soft/beerplop/issues/88#issuecomment-572158763_

[2020-01-08 20:13] wol-soft opened #94 "Building statistic graphs for Bottle Cap Factories show "plops""
![image](https://user-images.githubusercontent.com/14750468/72012157-b6e38c00-325b-11ea-9678-39cf28bc15d3.png)

[2020-01-08 20:58] SquaredGrunt opened #95 "Auto cloning doesn't clone Bottle Cap Factories"
Autocloning feature does not clone Bottle Cap Factories. As #87 is quite new, I think it's an omission.

[2020-01-08 21:12] wol-soft commented on #95
Hi @SquaredGrunt in my save states the Bottle Cap Factories are cloned automatically. Have you set other buildings to a higher auto cloning priority so they are cloned in favour of the Bottle Cap Factories (can be configured for each building individually in the building details modal which opens when the building's icon is clicked)

[2020-01-08 23:08] 2ndK16 commented on #95
I had the same experience and had to clone my BCFs manually after all other buildings had been cloned to the max.

[2020-01-08 23:11] SquaredGrunt commented on #95
Hello @wol-soft
I just learned there is a priority for auto cloning :smile: So all my buildings are priority 1 and they are all cloned to the max (like @2ndK16 just said) except bottle cap factories.
That may be where the bug is.

[2020-01-09 09:45] wol-soft commented on #95
Thanks for the further feedback. I also think it has something to do with the priorities. I've set the Bottle Cap Factories to the highest priority and, as described, the clonings are executed automatically.

[2020-01-09 10:56] wol-soft commented on #95
I've located the issue: The Bottle Cap Factories didn't provide a default priority (which should be 1). Consequently it works if the priority was changed manually once (like in my save state) but doesn't work if the priority wasn't changed.

Should be fixed with 1.66.2

[2020-01-09 10:56] #95 closed

[2020-01-09 10:58] wol-soft commented on #92
Tested all three spells affecting directly after the equip and keeping the effect after a reload succesfully with 1.66.2. There were some issues with wrong listeners to the gameEventBus causing the wrong behaviour.

[2020-01-09 10:58] #92 closed

[2020-01-09 20:23] SquaredGrunt commented on #95
The fix works, thanks !

[2020-01-10 11:14] wol-soft commented on #71
Closing due to missing feedback.

[2020-01-10 11:14] #71 closed

[2020-01-10 19:01] 2ndK16 commented on #67
confeci

[2020-01-10 19:01] #67 closed

[2020-03-12 01:35] SquaredGrunt opened #96 "Game stops when tab not focused - Google Chrome"
Hi,

I noticed that in Chrome 80.0.3987.132 (64 bits), game is stopped when its tab is not focused for a few minutes.
Is there any way to fix that ?

[2020-03-12 09:12] wol-soft commented on #96
Hi @SquaredGrunt,

nice to hear you are still playing the game :)

As far as I know chrome checks the CPU time and the memory consumed by background tabs. If the values exceed a limit they are reduced which basically stops the game (as it has to execute quite a few calculations on each iteration, they may exceed the CPU time limit given by Chrome. Many factory involved I guess like the general pow

[2020-03-12 20:54] SquaredGrunt commented on #96
OK. Something might have changed recently in Chrome, until last week or so I didn't have this issue with beerplop. Or I have too many opened tabs!
I will open the game in its window. It will only by my 4th game opened that way :rofl:

Thanks for your thorough answer !

[2020-03-12 20:54] #96 closed

[2020-04-14 11:18] wol-soft opened #98 "Workers Lodges initially dispaly a 100% production boost"
![image](https://user-images.githubusercontent.com/14750468/79219355-67ac8900-7e52-11ea-9c2c-c3d5d7646b80.png)

[2020-08-05 12:09] wol-soft opened #102 "Project based factory extension popover displays wrong data"
![image](https://user-images.githubusercontent.com/14750468/89411013-fc4e3600-d724-11ea-8c66-31fbefd0691b.png)

As the image shows the current storage is not displayed and the current production progress seems to contain the stored amount instead of the progress.

[2020-09-09 12:58] wol-soft opened #104 "Beer Factory Managers"
Beer Factory Managers can be used to increase the production of Beer Factory factories and factory extensions. Managers consume food of a specific level to perform their work. The basic food is produced by new factories. Higher level food can be produced in a new factory, the *restaurant*.

## Additional factories (separated in the factory view)
- Crop field -> produces crops
	- factory extension:

[2020-09-22 08:39] wol-soft opened #106 "Sacrificing with an active Beer Sale leads to an endless Beer Sale."
![image](https://user-images.githubusercontent.com/14750468/93860324-3a94ba00-fcbf-11ea-90bf-5000ab97504f.png)

[2021-01-26 09:58] wol-soft opened #110 "Beer Factory trading routes are affected multiple times by multipliers"
Game speed on x0.5 results in the correct trade amount shown in the management modal (the trading amount includes the game speed):

![image](https://user-images.githubusercontent.com/14750468/105829690-fa26af00-5fc4-11eb-973b-e6556a32fe4a.png)

But the real traded amount is halved again to a speed of x0.25:

![image](https://user-images.githubusercontent.com/14750468/105830097-60abcd00-5fc5-11eb-9

[2021-05-10 14:10] wol-soft opened #115 "Check if next sacrifice is available only executed if automated bars are opened"
The check wether a

[2021-12-19 02:18] luciferakathedevil commented on #81
For me, this bug is when I click too fast but accidentally click the factory's production thing and it causes it to open at a speed but when I close it locks my mouse out of the game so the only thing I can do is click the buff beer bottles or use tab to shift around the page but at some times I cant refresh because I cant always use wifi so it's pretty annoying at times

[2021-12-19 02:31] luciferakathedevil opened #120 "Sacrificing on Max buy will cause the buy options to mess up"
When i sacrificed on max buy it caused my buy options to say what the max buy amount says but also if clicked max buy it would say what the previous buy cost was like example if i have 100x buy on then switch to max it would cause the max buy to show the price of buy 100 then not show the amount you can buy of that object(and if useful I'm on chrome OS

[2021-12-20 11:38] wol-soft commented on #120
Fixed in version 1.69.0

[2021-12-20 11:38] #120 closed

[2021-12-20 11:38] wol-soft commented on #110
Fixed in version 1.69.0

[2021-12-20 11:38] #110 closed

[2021-12-20 11:38] wol-soft commented on #102
Fixed in version 1.69.0

[2021-12-20 11:38] #102 closed

[2021-12-20 11:38] wol-soft commented on #98
Fixed in version 1.69.0

[2021-12-20 11:38] #98 closed

[2021-12-20 11:38] wol-soft commented on #94
Fixed in version 1.69.0

[2021-12-20 11:38] #94 closed

[2021-12-20 11:38] wol-soft commented on #106
Fixed in version 1.69.0

[2021-12-20 11:38] #106 closed

[2021-12-20 11:40] wol-soft commented on #104
Partial development merged into master to pull bugfixes from the development branch into master

[2021-12-20 20:20] luciferakathedevil opened #121 "beer factories wont open"
after I got the proxy upgrade for the storage I sacrificed and now I can't even open the beer factories, nor close it after it pops up it's just a blank screen so I have to refresh to play the game

[2021-12-21 08:38] wol-soft commented on #121
Hi @luciferakathedevil, did you equip the proxy upgrade or did the issue occur directly after finishing the upgrade?
It's a display error which I try to reproduce to fix the issue.

Relevant error log:

[code]

[2021-12-21 09:19] wol-soft commented on #121
Alright, I've reproduced and fixed the issue and patched it with version 1.69.2

[2021-12-21 09:19] #121 closed

[2021-12-22 06:05] micaminoff opened #122 "Can't open land of beer factories + other minigame issues"
https://user-images.githubusercontent.com/11438794/147043428-ee8316c2-5fb5-4126-b259-192633cc00ca.mp4

When opening the land of beer factories, the overlay doesn't load. It's also not closeable and the issue persists between refreshes.
On load, the console is filled with the same error, occurring every second:
![image](https://user-images.githubusercontent.com/11438794/147043545-2e8af449-6754-445f

[2021-12-22 07:53] micaminoff commented on #122
I don't know if it's related, but I can't clone buildings either, but that doesn't cause an error in the console. Nothing happens when I click an eligible building's "Clone" button.

[2021-12-22 09:17] micaminoff commented on #122
Also my magicians aren't generating mana. How do I export a save for you to explore?

[2021-12-22 09:40] micaminoff commented on #122
Also this doesn't look right.
![image](https://user-images.githubusercontent.com/11438794/147071509-413f132b-8e02-45eb-b6f0-63bdcce1f65b.png)

[2021-12-22 12:16] wol-soft commented on #122
Hi @micaminoff, can you please export your save state in the console via `plop('save')` and attach it?

Currently I can only reproduce the cloning issue.

[2021-12-22 12:20] micaminoff commented on #122
Here you go!
`eyJ2ZXJzaW9uIjoiMS42OS4yIiwiY3JlYXRlZCI6MTY0MDE3NTU1Nzk4OCwiQmVlckJsZW5kZXIiOnsic2xvdHMiOlsiYXBwbGUiLCJiYW5hbmEiLCJsaW1lIixudWxsXSwiaW5ncmVkaWVudHMiOlsiYXBwbGUiLCJiYW5hbmEiLCJsaW1lIiwicGVhciIsImNoaWxpIiwiZ3JhcGUiXSwicHJlc2V0cyI6W119LCJHYW1lU3RhdGUiOnsiZ2FtZVNwZWVkIjoxLCJzdGFydFRpbWUiOiIyMDIwLTA2LTIzVDE5OjE0OjQ3LjQzN1oiLCJhbGxUaW1lUGxvcHMiOjEuNTA1NzU5NTk3MDU3Mzc5ZSsyNywicGxvcHMiOjMuMz

[2021-12-22 12:51] wol-soft commented on #122
Alright, I was able to reproduce all issues (in the end it's only one issue causing the other bugs, except the cloning which was a separate issue).

I've merged an incomplete feature branch for #104 into the master branch with version 1.69.0 to adopt a lot of smaller fixes from the branch. The new features from #104 are commented out to be invisible. There was one upgrade I missed (the Manager Aca

[2021-12-22 12:51] #122 closed

[2021-12-22 12:53] micaminoff commented on #122
Sure thing! Thanks for the quick response and amazing game.

[2021-12-22 13:06] wol-soft commented on #122
Glad to hear you enjoy the game. The version just got deployed, so everything should work now as intended